html {
  font-family: "Noto serif", serif;
  background: #f2f2f2;
}

header {
  background: #70ad55;
  color: #fff;
  width: 100%;
}

section {
  background: #fff;
}

@media only screen and (min-width: 60em) {

  .name,
  .email {
    padding-left: 0;
  }

  .age,
  .fitness {
    padding-right: 0;
  }

}
